:root {
    --color-main: rgb(33, 150, 243);
    --color-secondary: #757575;
    --color-background-sections: rgb(47, 48, 58);
    --color-text-main: #212121;
    --color-text-light: #FFFFFF;
    --color-secondary-back: #F5F4FA;
    --color-active: #0000ff;
    --color-border-head: #ECECEC;
    --color-border-clients: #adb1b8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --svg--section: #AFB1B8;
    --background-icon-foot: rgba(255, 255, 255, 0.1);
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
    color: var(--color-text-main);
    transition: color 250ms var(--cubic);
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', "Arial", sans-serif;
    color: var(--color-text-main);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
width: 1200px;
margin: 0 auto;
padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    color: var(--color-main);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    padding: 20px;
    margin-right: auto;
    }

.header__nav__list {
    color: var(--color-text-main);
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative; 
    }

    .header__link {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .header__item:not(:last-child) {
        margin-right: 50px;
    }

.line-link:hover:after {
    content: "";
    background-image: url(../images/line-svg.svg);
    background-color: var(--color-main);
    border-radius: 10px;
    width: 100%;
    max-width: 65px;
    height: 5px;
    position: absolute;
    bottom: -2px;
    display: flex;
    justify-content: center;
    }

.header__contacts {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
}

.header__contacts__item:not(:last-child){
    margin-right: 30px;
}

.link:hover, .link:focus {
color: var(--color-main);
text-decoration: none;
}

.header__contacts__link {
    color: var(--color-secondary);
    line-height: 1.1;
    text-decoration: none;
    transition: color 250ms var(--cubic);
}

.header__contacts__link:hover, .header__contacts__link:focus {
    color: var(--color-main);
}

.mail-current:hover, .mail-current:focus {
    fill: currentColor;
}

.cell-current:hover, .cell-current:focus{
    fill: currentColor;
}

/* Seccion principal */

.hero {
    padding-top: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right,rgba(47,48,58,0.3), rgba(47,48,58,0.4)),url(../images/backgroundmain.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero__buttton__container{
     margin-top: 40px;
     text-align: center;
}

.hero__title {
    width: 570px;
    color: white;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto;
}

/* Boton de servicio principal */

.hero__button {
    background-color: var(--color-main);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    font-family: inherit;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 10px 2px;
    border-style: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px var(--color-text-main);
    transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.hero__button:hover, .hero__button:focus {
    background-color: var(--color-active);
    box-shadow: 1px 2px 3px 2px var(--color-text-main);
}

.button {
    cursor: pointer;
    font-family: inherit;
    border-style: none;
    border-radius: 4px;
    padding: 10px;
    transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}
.button:hover, .button:focus {
    background-color: var(--color-main);
    color: var(--color-text-light);
    font-family: inherit;

}

.advantages__section--pad {
    padding-bottom: 0;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.advantages__item {
    margin-left: 10px;
}

.advantages__description {
    color: var(--color-secondary);
    line-height: 1.7;
    width: 270px;
    margin-top: 10px;
}

.advantages__title {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
}

.advantages__container__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-border-head);
    width: 270px;
    height: 130px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.whatdowedo__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.whatdowedo__item {
    position: relative;
}

.whatdowedo__secondary-title {
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--color-secondary-back);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 370px;
    bottom: 0px;
    font-family: inherit;
    font-weight: 700;
}

.whatdowedo__title {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 50px;
    text-align: center;
}

.professionals__secondary-title {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 50px;
    font-family: inherit;
    text-align: center;
}

.professionals {
    background-color: var(--color-secondary-back);
    }

.professionals__card-content-name {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
}

.professionals__card-content-profession {
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.1;
    margin-top: 10px;
}

.professionals__card-img {
    max-width: 100%;
    height: auto;
}

.professionals__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.professionals__item {
    flex-basis: calc((100% - 90px) / 4);
}


.professionals__card-content {
    padding: 30px 32px;
    text-align: center;
}

.professionals__card {
    margin: 0 auto;
    background-color: var(--color-text-light);
    border-radius: 4px;
    box-shadow: 2px 2px 3px var(--color-secondary);    
}

.professionals__card-content-iconsgroup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
}

.professionals__icon__link:hover, .professionals__icon__link:focus {
    background-color: var(--color-main);
    border-radius: 100%;
    border-style: none;
    fill: var(--color-text-light);
    width: 44px;
    height: 44px;
}

.professionals__icon__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 100%;
    border-style: none;
    fill: var(--svg--section);
    transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

/*seccion Clientes Regulares */

.customers__content {
    background-color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customers__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.customers__companies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.customers__companies-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text-light);
    border: 1px var(--color-border-clients) solid;
    border-radius: 4px;
    transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
    padding: 10px 60px;
    fill: var(--svg--section);
}

.customers__companies-icons-link:hover, .customers__companies-icons-link:focus{
    fill: var(--color-main);
    border-color: var(--color-main);
}

/*Seccion del Footer*/

.address__logo {
    color: var(--color-main);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    }

.address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 90px;
}

.address__item:hover {
color: var(--color-main);
text-decoration: none;
}

.footer__content {
    display: flex;
}

.address__link {
    font-style: normal;
    font-weight: 400;
    color: var(--color-text-light);
    text-decoration: none;
    transition: color 250ms var(--cubic);
}
.address__link:hover, .address__link:focus {
    color: var(--color-main);
    text-decoration: none;
}

.address__link--contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer {
    display: flex;
    background-color: var(--color-background-sections);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 215px;
    padding-right: 215px;
}

.footer__info-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer__info-title {
    color: var(--color-text-light);  
    font-family: inherit;
    font-size: 14px; 
}

.footer__icons-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.footer__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-text-light);
    background-color: var(--background-icon-foot);
    border-radius: 100%;
    padding: 12px;
    transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.footer__icon-link:hover, .footer__icon-link:focus {
    fill: var(--color-text-light);
    background-color: var(--color-main);
    border-radius: 100%;
    width: 44px;
    height: 44px;
}

.footer__info {
    margin-right: 90px;
}

/* Seccion Boletin informativo */

.subscribe {
    display: flex;
    flex-direction: column;
}
.subscribe__title {
    color: var(--color-text-light);
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subscribe__form {
    margin-top: 20px;
    display: flex;
}

#user-email {
    background-color: transparent;
    width: 358px; 
    height: 50px;
    color: var(--color-text-light);
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
}

#user-email::placeholder {
color: rgba(255, 255, 255, 0.6);
font-size: 16px;
}

#user-email:focus-within {
    outline: none;
}

.subscribe__button {
    background-color: var(--color-main);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    font-family: inherit;
    color: #FFFFFF;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px var(--color-text-main);
    transition: box-shadow 250ms var(--cubic);
    position: relative;
    width: 200px;
    height: 50px;
    padding-right: 20px;
}

.subscribe__button:hover, .subscribe__button:focus {
    box-shadow: 0px 2px 4px var(--color-secondary);
}

.subscribe__icon {
    fill: var(--color-text-light);
    position: absolute;
    right: 20px;
    top: 15px;
    margin-left: 20px;
}

/*Seccion principal Portfolio */

.applications__cards__description {
color: var(--color-secondary);
line-height: 1.8;
font-size: 16px;
font-weight: 400;
}

.applications__cards__title {
    font-family: inherit;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
}

.applications__cards__content {
    padding: 20px 24px;
}

.applications__cards__item {
    font-family: inherit;
    font-size: 18px;
    border: 1px solid var(--color-secondary);
    border-style: none;
    margin-top: 20px;
    box-shadow: 0px 1px 4px var(--color-secondary);
    transition: box-shadow 250ms var(--cubic), transform 250ms var(--cubic);
    flex-basis: calc((100% - 60px) / 3);
}

.applications__cards__item:hover {
    font-family: inherit;
    font-size: 18px;
    border: 1px solid var(--color-secondary);
    border-style: none;
    box-shadow: 2px 2px 4px var(--color-secondary);
    cursor: pointer;
    
}

.applications__overlay {
    position: relative;
    overflow: hidden;
}

.applications__cards__item:hover .applications__overlay__block {
    transform: translateY(0);
}

.applications__button--current{
    background-color: var(--color-main);
    color: var(--color-text-light);
}

.applications__overlay__block {
    width: 370px;
    height: 294px;
    background-color: rgba(33,150,243,0.85);
    position: absolute;
    top: 0;
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    transform: translateY(100%);
    transition: transform 250ms var(--cubic);
    font-family: inherit;
    font-size: 18px;
}

.header__link--current {
    color: var(--color-main);
}

.header__link--current::after {
    content: "";
    background-image: url(../images/line-svg.svg);
    background-color: var(--color-main);
    border-radius: 10px;
    width: 100%;
    max-width: 65px;
    height: 5px;
    position: absolute;
    bottom: -2px;
    display: flex;
    justify-content: center;
}

.applications__buttons__list {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    margin-bottom: 34px;
}

.applications__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding: 6px 24px;
}

.applications__button:hover, .applications__button:focus {
    box-shadow: 0px 2px 4px var(--color-secondary);
}

.applications__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.applications__cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.header__container--border {
    border-bottom: 1px solid var(--color-border-head);
}

svg:hover {
    cursor: pointer;
}

.Backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0, 0.3);
visibility: visible;
opacity: 1;
transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.modal {
width: 530px;
height: auto;
background-color: var(--color-text-light);
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.is-hidden {
visibility:hidden;
opacity:0;
pointer-events:none;
}

.modal__button__close {
    color: var(--color-text-main);
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 9px 9px 10px;
    background-color: var(--color-text-light);
    border: 1px solid var(--color-border-clients);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
}

.modal__button__close:hover {
    fill: var(--color-main);
    border-color: var(--color-main);
}

.modal__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal__title {
font-weight: 700;
font-size: 20px;
text-align: center;
color: var(--color-text-main);
margin-bottom: 12px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

#name {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 6px;
  padding: 10px 10px 10px 50px;
  transition: border-color 250ms var(--cubic);
}

#name:focus-visible {
    outline: none;
    border-color: var(--color-main);
}

#name:focus-visible + svg {
    fill: var(--color-main);
}

.name__container {
    position: relative;
}

.name__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms var(--cubic);
}

#phone-number {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 10px 10px 10px 50px;
    transition: border-color 250ms var(--cubic);
}

#phone-number:focus-visible {
    outline: none;
    border-color: var(--color-main);
}

#phone-number:focus-visible + svg {
    outline: none;
    fill: var(--color-main);
}

.phone__container {
    position: relative;
}

.phone__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms var(--cubic);
    
}

#email {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 10px 10px 10px 50px;
    transition: border-color 250ms var(--cubic);
}

#email:focus-visible {
    outline: none;
    border-color: var(--color-main);
}

#email:focus-visible + svg {
    outline: none;
    fill: var(--color-main);
}

.mail__container {
    position: relative;
}

.mail__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms var(--cubic);
}

:focus-within {
    outline: none;
}

#comments {
    cursor: pointer;
    width: 448px;
    height: 120px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border-color 250ms var(--cubic);
}

#comments:focus-visible {
    outline: none;
    border-color: var(--color-main);
}

#comments::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.agreements__container {
    display: flex;
    margin-top: 16px;
    position: relative;
} 

.agreements__text {
    margin-left: 10px;
    line-height: 1.7;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-secondary);
}


#agreements {
    position: absolute;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#agreements:checked + .agreements__icon {
    background-image: url(../images/icono-revisado.svg);
    background-size: contain;
    border-radius: 2px;
    background-color: var(--color-main);
    border-style: none;
}

.agreements__icon {
    border: 2px solid var(--color-text-main);
    fill: var(--color-text-light);
    border-radius: 2px;
    transition: background-color 250ms var(--cubic);
}

.submit__button {
    margin-top: 10px;
    background-color: var(--color-main);
    width: 200px;
    height: 50px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text-light);
    transition: box-shadow 250ms var(--cubic);
}

.submit__button:hover {
    box-shadow: 0px 1px 4px var(--color-text-main);
    cursor: pointer;
}

.submit__button__container {
    display: flex;
    justify-content: center;
}

label {
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: var(--color-secondary);
}

input {
    cursor: pointer;
}
